
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(assets/apersonwhothinks.png);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat
  }
  
  form {
    max-width: 400px;
    margin: 25px auto;
    background-color: #6b6868;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    background-color: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  form button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fade-in 0.5s ease-in-out;
  }
  